@charset "UTF-8";

body {
   background-color: #486d46;            /* 背景色 */
   background-image: url("../img/eiga3.jpg"); /* 画像 */
   background-size: center;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
}
.inner {
  margin-top: 300px;
  text-align: center;
}
span.example1 {
  color: #ffffff;
}
th.example2 {
    color: #ffffff;
}
h1{
text-align: center;
}
.example{
    text-align: center;
}