@charset "UTF-8";

body {
   background-color: #486d46;            /* 背景色 */
   background-image: url("../img/eiga.jpg"); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
}
.inner {
  margin-top: 300px;
  text-align: center;
}
